/*Global =======================================================*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"); /*Importando Fonte*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Resetando a borda da caixa pelo tamanho definido da caixa e não pelo conteúdo*/
}
:root{
    --dark-blue: #002C3E;/* Declarando Variáveis no CSS*/
    --light-blue:#788cc4;
    --blueHover:#30728b;
    --font-primary: "Baloo da 2", serif;

}
html{
    font-size: 93.75% /* 15px - Trabalhando a Responsividade*/;
}
body{
    background:var(--light-blue);
    font-family:var(--font-primary); 
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:min(90vw, 800px);/* Função para facilitar a responsividade*/
    margin:auto;
}
#container .logo-main{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding: 1rem;
}
#container .logo-main img{
    width: 3.8rem;
    margin-right: .5rem;
    
}
#container .logo-main h1{
    font-size: 3rem;
    color:var(--dark-blue)
}
#form{
    width: 100%;
    
}
#form .contato{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .2rem;
    
}
#form input{
    border: none;
    border-bottom: solid 1px var(--dark-blue);
    margin:20px;
    width: 16rem;
    height: 2.5rem;
    background-color:var(--light-blue);
    color: var(--dark-blue);
    font-size: 12px;
    outline: none;
    transition: .5s;
    

}

input::placeholder{
    color: var(--dark-blue);

}
#btn{
    width: 15%;
    background: var(--dark-blue);
    color: #fff;
    cursor: pointer;
    border:none;
    border-radius: .2rem;
    text-transform: uppercase;
    height: 1.4rem;
    margin-bottom: 5rem;
    
}
#btn:hover{
    background: var(--blueHover);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(0,0,0,0);
    
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-blue);
    
}
@media(max-width:800px){/*A partir de 800px ele usará esta estilização*/
    html{
        font-size: 57.5%;
    }
    #container{
        width:10%;
    }
}
